nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  background-color:#4056A1;
  color:#FFFFFF;
}

span {
  margin: 1.5em;
}

#logo {
  font-family: 'Bungee', sans-serif;
}