.new-tweet {
  border-radius: 5px;
  padding-top: 1px;
  background-color: #414263;
  color: azure;
  margin: 0 2em;
  align-items: center;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
}

.new-tweet h2 {
  margin: 10px;
  border-bottom: 1px solid azure;
}

form {
  padding: 10px;
  position: relative;
}

textarea {
  padding: 5px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  background-color: azure;
}

.btn {
  background-color: #252c36;
  color: azure;
  padding: 10px;
  font-family: 'Bungee', sans-serif;
}

#alert-text {
  color: red;
}