.tweets {
  font-size: 0.8em;
  background-color: azure;
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  transition: box-shadow 200ms;
}

.tweets:hover {
  box-shadow: 10px 10px 20px 10px;
}

#user {
  opacity: 0;
}

#user-pic {
  width: 50px;
  height: 62.5px;
}

#user-info {
  display: flex;
  flex-direction: row;
}

#user-info p {
  margin: 1em;
}

.tweets:hover #user {
  opacity: 100;
}

.tweets header {
  font-size: 0.9em;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweets footer {
  border-top: 0.125em solid black;
  font-size: 0.7em;
  display: flex;
  justify-content: space-between;
}

.imgs {
  display: flex;
  width: 1em;
  height: 1em;
  margin-right: 2.5em;
  margin-top: 1em;
  opacity: 0;
}

.tweets:hover .imgs {
  opacity: 100;
}