.tweets {
  font-size: 0.8em;
  width: 30em;
  background-color: azure;
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  -webkit-box-shadow: 10px 9px 36px 0px rgb(0 0 0);
  -moz-box-shadow: 10px 9px 36px 0px rgba(0, 0, 0, 1);
  box-shadow: 10px 9px 36px 0px rgb(0 0 0);
  transition: box-shadow 200ms;
}

.tweets:hover {
  -webkit-box-shadow: 10px 10px 19px 11px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 19px 11px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 19px 11px rgba(0, 0, 0, 1);
}

#user {
  opacity: 0;
}

.tweets:hover #user {
  opacity: 100;
}

.tweets header {
  font-size: 0.9em;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweets footer {
  font-size: 0.7em;
  display: flex;
  justify-content: space-between;
}